<nav class="navbar navbar-default">
  <div class="container-fluid col-lg-12">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li class="purple-text">Ur</li><li class= "blue-text"> Lockbox</li>
      <ul>
    </div>
    <div class="filter col-sm-offset-4">
      <label>Filter By Title: </label>
      <%= text_field :link, :filter_title %>
    </div>
    <div class="filter col-sm-offset-7">
      <label>Filter By Url: </label>
      <%= text_field :link, :filter_url %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if @current_user %>
        <li class="custom-nav"> Logged in as <%= user.username %> </li>
        <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
