/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.homepage {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/74/e6/38/74e6385d612117c74eee01fd60b5ce6c.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  padding-top: 240px;
  text-align: center;
  background-position: center;
  color: white;
  font-family: 'Open Sans';
}

/*.sign-in-btn {
  float: center;
  height: 64px;
  font: normal normal 300 1em/4em 'Open Sans';
  overflow: hidden;
  width: 300px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-font-smoothing: antialiased !important;
}*/
