/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blue-text {
  color: #40718f;
  font-size: 22px;
  margin-bottom: -38px;
  margin-top: 10px;
}

.button-indigo {
  background-color: #87b7b8;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.button-indigo:hover {
  background-color: white !important;
  color: #87b7b8 !important;
}

.button-gold {
  display: inline-block;
  background-color: #eea53c;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.button-gold:hover {
  background-color: white !important;
  color: #eea53c !important;
}

.circle {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/74/e6/38/74e6385d612117c74eee01fd60b5ce6c.jpg");
  border-radius: 50%;
  padding: 50px;
  width: 350px;
  min-height: 350px;
  text-align: center;
}

.circle-list {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/74/e6/38/74e6385d612117c74eee01fd60b5ce6c.jpg");
  border-radius: 50%;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 100px !important;
  width: 600px;
  min-height: 600px;
  overflow: scroll !important;
  text-align: center;
}

.custom-nav {
  padding-top: 13px;
  font-size: 16px;
  color:  #ae4863;
}

.email {
  font-size: 25px;
  color: #665d74;
}

.homepage {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/74/e6/38/74e6385d612117c74eee01fd60b5ce6c.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  padding-top: 240px;
  text-align: center;
  background-position: center;
  color: white;
  font-family: 'Open Sans';
}

h1 {
  letter-spacing: 10px;
}

.offset {
  margin-left: 400px;
}

.purple-text {
  color: #665d74;
  font-size: 22px;
  margin-bottom: -38px;
  margin-top: 10px;
}

.password {
  font-size: 25px;
  color: #40718f;
}

.password2 {
  font-size: 25px;
  color: #c8d3c8;
}

table {
  border-spacing: 0;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  width: 400px;
  margin-left: -30px !important;
  min-height: 400px;
  font-size: 25px;
  font-family: Sans-serif;
  text-align: center !important;
  -webkit-font-smoothing: antialiased !important;
}

.title {
  text-align: right;
  margin-right: 308px;
  font-size: 60px;
  font-family: Sans-serif;
  letter-spacing: 30px;
  margin-top: -350px;
  color: #40718f;
}

.title2 {
  margin-left: -40px;
  font-size: 60px;
  font-family: Sans-serif;
  letter-spacing: 30px;
  color: #665d74;
}

.title2:hover {
  text-decoration: none;
  color: #665d74;
}

td {
  border-top: solid white 2px;
}

td:first-child {
  border-left: none;
}

th {
  text-align: center !important;
}

#read {
  text-decoration: line-through;
}

.username {
  font-size: 25px;
  color: #ae4863;
}
